ul {
  list-style: none;
  padding-top: 0px;
  padding-left: 0;
}

#main {
  border: 1px solid;
  margin: auto;
  width: 800px;
  height: 1500px;
}

#title {
  margin: auto;
  width: 500px;
  text-align: center;
}

#Photo {
  margin-bottom: 20px;
}

#yuno {
  margin: auto;
  padding-right: 300px;
  padding-top: 70px;
  display: flex;
  width: 20%;
  height: 25%;
  position: relative;
}

#commentlists {
  position: absolute;
  top: 90px;
  left: 710px;
  background-color: white;
}

.comment {
  border: none;
  resize: none;
  width: 350px;
  height: 50px;
  top: 100px;
  left: 600px;
  font-size: 35px;
  background-color: white;
}

#inputArea {
  margin: auto;
  width: 1200px;
  height: 200px;
}

.input {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 400px;
}

#btn {
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
  height: 80px;
}